In [1]:
import pandas as pd

In [3]:
correct = pd.read_csv('Historical RTM Load Zone and Hub Prices.csv')

In [11]:
correct.tail(5)

,Delivery Date,Delivery Hour,Delivery Interval,Repeated Hour Flag,Settlement Point Name,Settlement Point Type,Settlement Point Price
5561557,07/28/2018,24.0,3.0,N,LZ_WEST,LZ,20.87
5561558,07/28/2018,24.0,3.0,N,LZ_WEST,LZEW,20.87
5561559,07/28/2018,24.0,4.0,N,LZ_WEST,LZ,20.11
5561560,07/28/2018,24.0,4.0,N,LZ_WEST,LZEW,20.11
5561561,2018-07-29 00:00:00,NaN,NaN,10,NaN,08:00:15,NaN

In [5]:
scraped = pd.read_csv('livedata/RTMs by Resource Nodes, Load Zones and Trading Hubs/all_data.csv')

In [9]:
scraped.tail(5)

               SCEDTimestamp RepeatedHourFlag SettlementPoint    LMP
1112995  08/11/2018 00:00:24                N    WIR_WIRTZ_G2  25.97
1112996  08/11/2018 00:00:24                N    WNDTS2_UNIT1  25.97
1112997  08/11/2018 00:00:24                N     WND_WHITNEY  25.97
1112998  08/11/2018 00:00:24                N    WOO_WOODWRD1  25.97
1112999  08/11/2018 00:00:24                N    WOO_WOODWRD2  25.97