In [20]:
import pandas as pd
import os
from glob import glob

In [133]:
historic_hu = pd.read_csv('data/historic/HB_HOUSTON.csv')
live_hu = pd.read_csv('data/live/HB_HOUSTON.csv')

In [203]:
def fix_data(df):
    '''
    Convert DeliveryDate, DeliveryHour and DeliveryInterval column to pd.to_datetime. Also remove the DSTFlag and SettlementPointType column. 
    Also arranges in ascending order
    '''
    df['Date'] = pd.to_datetime(df['DeliveryDate']) + df['DeliveryHour'].astype('timedelta64[h]') + ((df['DeliveryInterval'] - 1) * 15).astype('timedelta64[m]')
    df = df.drop(columns=['DeliveryDate', 'DeliveryHour', 'DeliveryInterval', 'DSTFlag', 'SettlementPointType', 'SettlementPointName'], axis=1)
    df = df.sort_values('Date').reset_index(drop=True)

    return df[['Date', 'SettlementPointPrice']]

In [204]:
live = fix_data(live_hu)
historic = fix_data(historic_hu)

In [279]:
def fixJoin(live, historic):
    '''
    Drop Duplicates and fix missing timelines
    '''
    
    df = pd.concat([live, historic]).sort_values('Date')
    dupShape = df.shape[0]

    df = df.drop_duplicates('Date').reset_index(drop=True)
    duplicates = dupShape - df.shape[0]
    print("Total Duplicates: {}".format(duplicates))
    
    totalMissing = sum((df['Date'].shift(-1)[:-1] - df['Date'][:-1]).astype('timedelta64[m]') != 15)
    
    print("Total Missing Dates: {}".format(totalMissing))
    missingDates = list(df[:-1][(df['Date'].shift(-1)[:-1] - df['Date'][:-1]).astype('timedelta64[m]') != 15]['Date'])
    print("The Missing dates are around: {}".format(missingDates))
    
    dates = pd.DataFrame(pd.date_range(df.iloc[0]['Date'],df.iloc[-1]['Date'],freq='15T'))
    dates.columns = ['Date']
    
    df.set_index('Date', inplace=True)
    dates.set_index('Date', inplace=True)
    
    full_data = pd.concat([df, dates], axis=1).fillna(method='ffill')
    full_data.index.name = 'Date'
    
    return full_data.reset_index()

In [280]:
df = fixJoin(live, historic)

Total Duplicates: 22393
Total Missing Dates: 8
The Missing dates are around: [Timestamp('2011-03-13 02:45:00'), Timestamp('2012-03-11 02:45:00'), Timestamp('2013-03-10 02:45:00'), Timestamp('2014-03-09 02:45:00'), Timestamp('2015-03-08 02:45:00'), Timestamp('2016-03-13 02:45:00'), Timestamp('2017-03-12 02:45:00'), Timestamp('2018-03-11 02:45:00')]

In [285]:
df

                      Date  SettlementPointPrice
0      2010-12-01 01:00:00                 25.08
1      2010-12-01 01:15:00                 23.20
2      2010-12-01 01:30:00                 23.45
3      2010-12-01 01:45:00                 22.17
4      2010-12-01 02:00:00                 21.96
5      2010-12-01 02:15:00                 21.58
6      2010-12-01 02:30:00                 21.34
7      2010-12-01 02:45:00                 20.99
8      2010-12-01 03:00:00                 21.25
9      2010-12-01 03:15:00                 21.54
10     2010-12-01 03:30:00                 21.20
11     2010-12-01 03:45:00                 21.26
12     2010-12-01 04:00:00                 21.76
13     2010-12-01 04:15:00                 22.01
14     2010-12-01 04:30:00                 22.38
15     2010-12-01 04:45:00                 23.25
16     2010-12-01 05:00:00                 24.16
17     2010-12-01 05:15:00                 23.25
18     2010-12-01 05:30:00                 25.67
19     2010-12-01 05:45:00                 24.49
20     2010-12-01 06:00:00                 24.56
21     2010-12-01 06:15:00                 26.79
22     2010-12-01 06:30:00                 27.23
23     2010-12-01 06:45:00                 27.79
24     2010-12-01 07:00:00                 29.12
25     2010-12-01 07:15:00                 33.86
26     2010-12-01 07:30:00                 44.84
27     2010-12-01 07:45:00                 44.42
28     2010-12-01 08:00:00                 34.21
29     2010-12-01 08:15:00                 32.06
...                    ...                   ...
270780 2018-08-21 16:00:00                 56.54
270781 2018-08-21 16:15:00                 62.51
270782 2018-08-21 16:30:00                 63.88
270783 2018-08-21 16:45:00                 68.97
270784 2018-08-21 17:00:00                 58.72
270785 2018-08-21 17:15:00                 60.96
270786 2018-08-21 17:30:00                 53.53
270787 2018-08-21 17:45:00                 54.00
270788 2018-08-21 18:00:00                 42.01
270789 2018-08-21 18:15:00                 40.55
270790 2018-08-21 18:30:00                 38.64
270791 2018-08-21 18:45:00                 37.08
270792 2018-08-21 19:00:00                 34.99
270793 2018-08-21 19:15:00                 35.09
270794 2018-08-21 19:30:00                 34.41
270795 2018-08-21 19:45:00                 33.70
270796 2018-08-21 20:00:00                 34.73
270797 2018-08-21 20:15:00                 33.36
270798 2018-08-21 20:30:00                 32.77
270799 2018-08-21 20:45:00                 32.20
270800 2018-08-21 21:00:00                 31.09
270801 2018-08-21 21:15:00                 31.00
270802 2018-08-21 21:30:00                 30.45
270803 2018-08-21 21:45:00                 29.89
270804 2018-08-21 22:00:00                 29.16
270805 2018-08-21 22:15:00                 26.98
270806 2018-08-21 22:30:00                 24.94
270807 2018-08-21 22:45:00                 23.13
270808 2018-08-21 23:00:00                 22.27
270809 2018-08-21 23:15:00                 21.42

[270810 rows x 2 columns]