In [20]:
import pandas as pd
import os

In [21]:
historic = pd.read_csv('data/historic/all_data.csv')

In [44]:
historucHU = historic[historic['SettlementPointName'] == 'HB_HOUSTON'].reset_index(drop=True)

In [37]:
live = pd.read_csv('data/live/all_data.csv')

In [45]:
liveHU = live[live['SettlementPointName'] == 'HB_HOUSTON'].reset_index(drop=True)

In [72]:
liveHU['datetime'] = pd.to_datetime(liveHU['DeliveryDate']) + liveHU['DeliveryHour'].astype('timedelta64[h]') + ((liveHU['DeliveryInterval']-1) * 15).astype('timedelta64[m]')

In [75]:
historucHU['datetime'] = pd.to_datetime(historucHU['DeliveryDate']) + historucHU['DeliveryHour'].astype('timedelta64[h]') + ((historucHU['DeliveryInterval']-1) * 15).astype('timedelta64[m]')

In [78]:
historucHU.sort_values('datetime', ascending=False)

,DeliveryDate,DeliveryHour,DeliveryInterval,DSTFlag,SettlementPointName,SettlementPointType,SettlementPointPrice,datetime
2975,01/31/2018,24,4,N,HB_HOUSTON,HU,4.12,2018-02-01 00:45:00
5951,01/31/2018,24,4,N,HB_HOUSTON,HU,4.12,2018-02-01 00:45:00
5950,01/31/2018,24,3,N,HB_HOUSTON,HU,9.14,2018-02-01 00:30:00
2974,01/31/2018,24,3,N,HB_HOUSTON,HU,9.14,2018-02-01 00:30:00
2973,01/31/2018,24,2,N,HB_HOUSTON,HU,8.92,2018-02-01 00:15:00
5949,01/31/2018,24,2,N,HB_HOUSTON,HU,8.92,2018-02-01 00:15:00
2972,01/31/2018,24,1,N,HB_HOUSTON,HU,13.31,2018-02-01 00:00:00
5948,01/31/2018,24,1,N,HB_HOUSTON,HU,13.31,2018-02-01 00:00:00
5947,01/31/2018,23,4,N,HB_HOUSTON,HU,16.15,2018-01-31 23:45:00
2971,01/31/2018,23,4,N,HB_HOUSTON,HU,16.15,2018-01-31 23:45:00
5946,01/31/2018,23,3,N,HB_HOUSTON,HU,15.11,2018-01-31 23:30:00
2970,01/31/2018,23,3,N,HB_HOUSTON,HU,15.11,2018-01-31 23:30:00
5945,01/31/2018,23,2,N,HB_HOUSTON,HU,17.63,2018-01-31 23:15:00
2969,01/31/2018,23,2,N,HB_HOUSTON,HU,17.63,2018-01-31 23:15:00
5944,01/31/2018,23,1,N,HB_HOUSTON,HU,17.32,2018-01-31 23:00:00
2968,01/31/2018,23,1,N,HB_HOUSTON,HU,17.32,2018-01-31 23:00:00
5943,01/31/2018,22,4,N,HB_HOUSTON,HU,16.78,2018-01-31 22:45:00
2967,01/31/2018,22,4,N,HB_HOUSTON,HU,16.78,2018-01-31 22:45:00
2966,01/31/2018,22,3,N,HB_HOUSTON,HU,17.43,2018-01-31 22:30:00
5942,01/31/2018,22,3,N,HB_HOUSTON,HU,17.43,2018-01-31 22:30:00
2965,01/31/2018,22,2,N,HB_HOUSTON,HU,17.99,2018-01-31 22:15:00
5941,01/31/2018,22,2,N,HB_HOUSTON,HU,17.99,2018-01-31 22:15:00
2964,01/31/2018,22,1,N,HB_HOUSTON,HU,18.03,2018-01-31 22:00:00
5940,01/31/2018,22,1,N,HB_HOUSTON,HU,18.03,2018-01-31 22:00:00
5939,01/31/2018,21,4,N,HB_HOUSTON,HU,18.19,2018-01-31 21:45:00
2963,01/31/2018,21,4,N,HB_HOUSTON,HU,18.19,2018-01-31 21:45:00
5938,01/31/2018,21,3,N,HB_HOUSTON,HU,18.62,2018-01-31 21:30:00
2962,01/31/2018,21,3,N,HB_HOUSTON,HU,18.62,2018-01-31 21:30:00
2961,01/31/2018,21,2,N,HB_HOUSTON,HU,18.96,2018-01-31 21:15:00
5937,01/31/2018,21,2,N,HB_HOUSTON,HU,18.96,2018-01-31 21:15:00
...,...,...,...,...,...,...,...,...
26733,12/01/2010,8,2,N,HB_HOUSTON,HU,32.06,2010-12-01 08:15:00
26732,12/01/2010,8,1,N,HB_HOUSTON,HU,34.21,2010-12-01 08:00:00
26731,12/01/2010,7,4,N,HB_HOUSTON,HU,44.42,2010-12-01 07:45:00
26730,12/01/2010,7,3,N,HB_HOUSTON,HU,44.84,2010-12-01 07:30:00
26729,12/01/2010,7,2,N,HB_HOUSTON,HU,33.86,2010-12-01 07:15:00
26728,12/01/2010,7,1,N,HB_HOUSTON,HU,29.12,2010-12-01 07:00:00
26727,12/01/2010,6,4,N,HB_HOUSTON,HU,27.79,2010-12-01 06:45:00
26726,12/01/2010,6,3,N,HB_HOUSTON,HU,27.23,2010-12-01 06:30:00
26725,12/01/2010,6,2,N,HB_HOUSTON,HU,26.79,2010-12-01 06:15:00
26724,12/01/2010,6,1,N,HB_HOUSTON,HU,24.56,2010-12-01 06:00:00
26723,12/01/2010,5,4,N,HB_HOUSTON,HU,24.49,2010-12-01 05:45:00
26722,12/01/2010,5,3,N,HB_HOUSTON,HU,25.67,2010-12-01 05:30:00
26721,12/01/2010,5,2,N,HB_HOUSTON,HU,23.25,2010-12-01 05:15:00
26720,12/01/2010,5,1,N,HB_HOUSTON,HU,24.16,2010-12-01 05:00:00
26719,12/01/2010,4,4,N,HB_HOUSTON,HU,23.25,2010-12-01 04:45:00
26718,12/01/2010,4,3,N,HB_HOUSTON,HU,22.38,2010-12-01 04:30:00
26717,12/01/2010,4,2,N,HB_HOUSTON,HU,22.01,2010-12-01 04:15:00
26716,12/01/2010,4,1,N,HB_HOUSTON,HU,21.76,2010-12-01 04:00:00
26715,12/01/2010,3,4,N,HB_HOUSTON,HU,21.26,2010-12-01 03:45:00
26714,12/01/2010,3,3,N,HB_HOUSTON,HU,21.20,2010-12-01 03:30:00
26713,12/01/2010,3,2,N,HB_HOUSTON,HU,21.54,2010-12-01 03:15:00
26712,12/01/2010,3,1,N,HB_HOUSTON,HU,21.25,2010-12-01 03:00:00
26711,12/01/2010,2,4,N,HB_HOUSTON,HU,20.99,2010-12-01 02:45:00
26710,12/01/2010,2,3,N,HB_HOUSTON,HU,21.34,2010-12-01 02:30:00
26709,12/01/2010,2,2,N,HB_HOUSTON,HU,21.58,2010-12-01 02:15:00
26708,12/01/2010,2,1,N,HB_HOUSTON,HU,21.96,2010-12-01 02:00:00
26707,12/01/2010,1,4,N,HB_HOUSTON,HU,22.17,2010-12-01 01:45:00
26706,12/01/2010,1,3,N,HB_HOUSTON,HU,23.45,2010-12-01 01:30:00
26705,12/01/2010,1,2,N,HB_HOUSTON,HU,23.20,2010-12-01 01:15:00
26704,12/01/2010,1,1,N,HB_HOUSTON,HU,25.08,2010-12-01 01:00:00

In [80]:
hh = pd.read_csv('Historical RTM Load Zone and Hub Prices.csv')

In [83]:
hh[hh['Settlement Point Name'] == 'HB_HOUSTON']

,Delivery Date,Delivery Hour,Delivery Interval,Repeated Hour Flag,Settlement Point Name,Settlement Point Type,Settlement Point Price
4,12/01/2010,1.0,1.0,N,HB_HOUSTON,HU,25.08
5,12/01/2010,1.0,2.0,N,HB_HOUSTON,HU,23.20
6,12/01/2010,1.0,3.0,N,HB_HOUSTON,HU,23.45
7,12/01/2010,1.0,4.0,N,HB_HOUSTON,HU,22.17
60,12/01/2010,2.0,1.0,N,HB_HOUSTON,HU,21.96
61,12/01/2010,2.0,2.0,N,HB_HOUSTON,HU,21.58
62,12/01/2010,2.0,3.0,N,HB_HOUSTON,HU,21.34
63,12/01/2010,2.0,4.0,N,HB_HOUSTON,HU,20.99
116,12/01/2010,3.0,1.0,N,HB_HOUSTON,HU,21.25
117,12/01/2010,3.0,2.0,N,HB_HOUSTON,HU,21.54
118,12/01/2010,3.0,3.0,N,HB_HOUSTON,HU,21.20
119,12/01/2010,3.0,4.0,N,HB_HOUSTON,HU,21.26
172,12/01/2010,4.0,1.0,N,HB_HOUSTON,HU,21.76
173,12/01/2010,4.0,2.0,N,HB_HOUSTON,HU,22.01
174,12/01/2010,4.0,3.0,N,HB_HOUSTON,HU,22.38
175,12/01/2010,4.0,4.0,N,HB_HOUSTON,HU,23.25
228,12/01/2010,5.0,1.0,N,HB_HOUSTON,HU,24.16
229,12/01/2010,5.0,2.0,N,HB_HOUSTON,HU,23.25
230,12/01/2010,5.0,3.0,N,HB_HOUSTON,HU,25.67
231,12/01/2010,5.0,4.0,N,HB_HOUSTON,HU,24.49
284,12/01/2010,6.0,1.0,N,HB_HOUSTON,HU,24.56
285,12/01/2010,6.0,2.0,N,HB_HOUSTON,HU,26.79
286,12/01/2010,6.0,3.0,N,HB_HOUSTON,HU,27.23
287,12/01/2010,6.0,4.0,N,HB_HOUSTON,HU,27.79
340,12/01/2010,7.0,1.0,N,HB_HOUSTON,HU,29.12
341,12/01/2010,7.0,2.0,N,HB_HOUSTON,HU,33.86
342,12/01/2010,7.0,3.0,N,HB_HOUSTON,HU,44.84
343,12/01/2010,7.0,4.0,N,HB_HOUSTON,HU,44.42
396,12/01/2010,8.0,1.0,N,HB_HOUSTON,HU,34.21
397,12/01/2010,8.0,2.0,N,HB_HOUSTON,HU,32.06
...,...,...,...,...,...,...,...
5560863,07/28/2018,17.0,3.0,N,HB_HOUSTON,HU,1204.29
5560864,07/28/2018,17.0,4.0,N,HB_HOUSTON,HU,1591.03
5560949,07/28/2018,18.0,1.0,N,HB_HOUSTON,HU,1082.39
5560950,07/28/2018,18.0,2.0,N,HB_HOUSTON,HU,709.26
5560951,07/28/2018,18.0,3.0,N,HB_HOUSTON,HU,536.99
5560952,07/28/2018,18.0,4.0,N,HB_HOUSTON,HU,249.80
5561037,07/28/2018,19.0,1.0,N,HB_HOUSTON,HU,164.79
5561038,07/28/2018,19.0,2.0,N,HB_HOUSTON,HU,63.72
5561039,07/28/2018,19.0,3.0,N,HB_HOUSTON,HU,47.92
5561040,07/28/2018,19.0,4.0,N,HB_HOUSTON,HU,44.48
5561125,07/28/2018,20.0,1.0,N,HB_HOUSTON,HU,56.81
5561126,07/28/2018,20.0,2.0,N,HB_HOUSTON,HU,48.80
5561127,07/28/2018,20.0,3.0,N,HB_HOUSTON,HU,38.47
5561128,07/28/2018,20.0,4.0,N,HB_HOUSTON,HU,36.87
5561213,07/28/2018,21.0,1.0,N,HB_HOUSTON,HU,52.15
5561214,07/28/2018,21.0,2.0,N,HB_HOUSTON,HU,66.60
5561215,07/28/2018,21.0,3.0,N,HB_HOUSTON,HU,44.17
5561216,07/28/2018,21.0,4.0,N,HB_HOUSTON,HU,39.99
5561301,07/28/2018,22.0,1.0,N,HB_HOUSTON,HU,39.82
5561302,07/28/2018,22.0,2.0,N,HB_HOUSTON,HU,31.62
5561303,07/28/2018,22.0,3.0,N,HB_HOUSTON,HU,30.23
5561304,07/28/2018,22.0,4.0,N,HB_HOUSTON,HU,28.92
5561389,07/28/2018,23.0,1.0,N,HB_HOUSTON,HU,30.38
5561390,07/28/2018,23.0,2.0,N,HB_HOUSTON,HU,27.21
5561391,07/28/2018,23.0,3.0,N,HB_HOUSTON,HU,24.44
5561392,07/28/2018,23.0,4.0,N,HB_HOUSTON,HU,21.70
5561477,07/28/2018,24.0,1.0,N,HB_HOUSTON,HU,24.02
5561478,07/28/2018,24.0,2.0,N,HB_HOUSTON,HU,22.51
5561479,07/28/2018,24.0,3.0,N,HB_HOUSTON,HU,20.87
5561480,07/28/2018,24.0,4.0,N,HB_HOUSTON,HU,20.11

In [ ]:
#The houston data should also be here but it ain't